<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Karyna_Make_Up.Properties.Settings.PROJETOSConnectionString"
            connectionString="Data Source=DESKTOP-1EKSR5E\PROJETOS;Initial Catalog=PROJETOS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Karyna_Make_Up.Properties.Settings.epraja_projectConnectionString"
            connectionString="Data Source=tcp:eprajaproject.database.windows.net,1433;Initial Catalog=epraja_project;Integrated Security=False;Persist Security Info=False;User ID=washington.filho;Password=*********;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
